<nav class="navbar navbar-light bg-dark">
	<a class="navbar-brand text-white" href="/">
		<img src="https://logopond.com/logos/84580e04dc1d6b8eb99fc18efbbc43f2.png" width="30" height="30" class=" d-inline-block align-top" alt="">
		Super Gossip
	</a>
	<form class="form-inline">
		<div class="btn-group">
			<button type="button" class="btn btn-primary">Action</button>
			<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/sessions/new">Connexion</a>
				<a class="dropdown-item" href="/profil/new">Inscription</a>
				<div class="dropdown-divider"></div>
			</div>
		</div>
	</form>
</nav>
<div>
	<img class="cover-img" src="https://fr.unesco.org/youth/toptips/user/pages/images/phases/phase_communication-jumbo.png" alt="">
</div>
<div class="filtre">xsq</div>
<h1 class="text-center cover-text">Bienvenue sur Super Gossip</h1>
</div>